{% extends "base.html" %} {% block content %}

<div
  class="container-fluid my-3 justify-content-center align-items-center shadow rounded"
>
  <form action="{% url 'edit_profile' %}" method="POST">
    {% csrf_token %}
    <h1>ข้อมูลส่วนตัว<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
      <span class="material-symbols-outlined">
        account_circle
        </span>
    </h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
        value="{{ user_data.username }}"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        name="pswd"
        placeholder="Password"
      />
      <small class="text-danger">** ป้อนหากต้องการเปลี่ยน **</small>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Email"
        value="{{ user_data.email }}"
        aria-describedby="emailHelp"
      />
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Firstname</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          name="firstname"
          placeholder="Firstname"
          value="{{ user_data.first_name }}"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Lastname</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Lastname"
          value="{{ user_data.last_name }}"
          aria-describedby="emailHelp"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-success w-100 mb-3">บันทึก</button>
  </form>
</div>

{% endblock %}
