{% extends "base.html" %} {% block content %}
<div
  class="container-fluid my-3 justify-content-center align-items-center shadow rounded"
>
    <h2>ประวัติการเบิกยาของคุณ<link rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
      <span class="material-symbols-outlined"> pill </span>
    </h2>

    <div class="row">
      {% for record in medication_history %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <img
            src="https://images.unsplash.com/photo-1630094539386-280edfb5d46a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="..."
            />
            
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h4 class="card-title text-success">{{ record.drug_name }}</h4></li>
              <li class="list-group-item"><p class="card-text">จำนวน: {{ record.quantity }}</p></li>
              <li class="list-group-item"> <p class="card-text">ผู้ใช้: {{ record.user.username }}</p></li>
              <li class="list-group-item"><p class="card-text">วันที่: {{ record.date }}</p></li>
            </ul>
       
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endblock %}
</div>
